<h1>編集（form_withを使ってeditするよ）</h1>
<%= form_with model: @product, local: true do |product| %>
  <%= product.text_field :name, placeholder:"名前" %>
  <%= product.number_field :price, placeholder:"12345" %>
  <%= product.text_area :description, placeholder:"説明" %>
  <%= product.text_field :maker_name, placeholder:"メーカー名" %>
  <%= product.submit "更新" %>
<% end %>

<%= link_to "TOPページ", products_path %>
