<h1><%= link_to "商品一覧", root_path %></h1>
<%= link_to "新規作成", new_product_path %>

<div class="">
  <%= form_with url: products_path, method: :get, local: true do |f| %>
    <%= f.label(:name, :"名前") %>
    <%= f.text_field :keyword %>
    <%= f.submit "検索" %>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>name</th>
      <th>price</th>
      <th>description</th>
      <th>maker_name</th>
      <th>確認</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
  <% @products.each do |product|%>
    <tr>
      <th><%= product.name %></th>
      <th><%= product.price %></th>
      <th><%= product.description %></th>
      <th><%= product.maker_name %></th>
      <th><%= link_to 'show', product_path(product) %></th>
      <th><%= link_to 'edit', edit_product_path(product) %></th>
      <th><%= link_to 'delete', product_path(product), method: :delete, data: { confrim: "本当に削除してよろしいですか？" } %></th>
    </tr>
  <% end %>
  </tbody>
</table>
